fastapi                 
uvicorn[standard]     
python-multipart       
easyocr                
pdf2image                 
Pillow     
numpy                    
google-generativeai    
python-dotenv            
torch            
torchvision 